<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>cloud-data-migration-web</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>com.clouddatamigration.CloudDataMigrationContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>SigninServlet</servlet-name>
		<servlet-class>com.clouddatamigration.classification.controller.SigninServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SigninServlet</servlet-name>
		<url-pattern>/classification/signin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignoutServlet</servlet-name>
		<servlet-class>com.clouddatamigration.classification.controller.SignoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignoutServlet</servlet-name>
		<url-pattern>/classification/signout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>com.clouddatamigration.classification.controller.SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/classification/signup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CloudDataStoreServlet</servlet-name>
		<servlet-class>com.clouddatamigration.store.controller.CloudDataStoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CloudDataStoreServlet</servlet-name>
		<url-pattern>/store/cloudDataStore</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectServlet</servlet-name>
		<servlet-class>com.clouddatamigration.classification.controller.ProjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectServlet</servlet-name>
		<url-pattern>/classification/project</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectScenariosServlet</servlet-name>
		<servlet-class>com.clouddatamigration.classification.controller.ProjectScenariosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectScenariosServlet</servlet-name>
		<url-pattern>/classification/projectScenarios</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectStrategyServlet</servlet-name>
		<servlet-class>com.clouddatamigration.classification.controller.ProjectStrategyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectStrategyServlet</servlet-name>
		<url-pattern>/classification/projectStrategy</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectCDHSServlet</servlet-name>
		<servlet-class>com.clouddatamigration.classification.controller.ProjectCDHSServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectCDHSServlet</servlet-name>
		<url-pattern>/classification/projectCDHS</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectCloudDataStoreServlet</servlet-name>
		<servlet-class>com.clouddatamigration.classification.controller.ProjectCloudDataStoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectCloudDataStoreServlet</servlet-name>
		<url-pattern>/classification/projectCloudDataStore</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectLocalDBLServlet</servlet-name>
		<servlet-class>com.clouddatamigration.classification.controller.ProjectLocalDBLServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectLocalDBLServlet</servlet-name>
		<url-pattern>/classification/projectLocalDBL</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MigrationServlet</servlet-name>
		<servlet-class>com.clouddatamigration.migration.controller.MigrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MigrationServlet</servlet-name>
		<url-pattern>/migration/migration</url-pattern>
	</servlet-mapping>

	<!-- Google App Engine Remote API, needed for creating and importing data to datastore -->
	<!--
	<servlet>
		<display-name>Remote API Servlet</display-name>
		<servlet-name>RemoteApiServlet</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoteApiServlet</servlet-name>
		<url-pattern>/remote_api</url-pattern>
	</servlet-mapping>
	 -->
</web-app>